#version=RHEL9
text
reboot

lang en_US.UTF-8
keyboard --xlayouts='us'
timezone America/Toronto --utc

network --bootproto=static --ip=10.10.10.20 --netmask=255.255.255.0 --gateway=10.10.10.1 --nameserver=1.1.1.1,1.0.0.1 --hostname=host2.lab.local --activate

rootpw --lock
user --name=foo --groups=wheel --lock
sshkey --username=foo "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKpih8rbjXSgYqOgkYqIyrIsYshVFByU+uEazsTLDJpL foo@homeb"
clearpart --all --initlabel
autopart --type=lvm --nohome

url --url="https://dl.rockylinux.org/pub/rocky/9/BaseOS/x86_64/os/"
repo --name="AppStream" --baseurl="https://dl.rockylinux.org/pub/rocky/9/AppStream/x86_64/os/"

firewall --enabled --service=ssh
selinux --enforcing

%packages
@core
chrony
%end

%post --log=/root/ks-post.log
systemctl enable sshd chronyd
echo '%wheel ALL=(ALL) NOPASSWD: ALL' > /etc/sudoers.d/wheel-nopasswd
chmod 440 /etc/sudoers.d/wheel-nopasswd
%end
