[defaults]
inventory          = inventory/hosts.yml
remote_user        = ubuntu
private_key_file   = ~/.ssh/id_ed25519
host_key_checking  = False
stdout_callback    = yaml
collections_path   = ~/.ansible/collections

[privilege_escalation]
become      = True
become_method = sudo
